{% extends 'core/base.html' %}

{% block content %}
<div class="container" id="post">
    <div class="btns btns-title">
        <div>
            <a href="{% url 'create_ticket' %}" class="btn-link">Demander une critique</a>
        </div>
        <div>
            <a href="{% url 'create_new_review' %}" class="btn-link">Créer une critique</a>
        </div>
    </div>
    <div class="feed">
        <h2>Mes Critiques</h2>
        {% for review in reviews %}
        {% include 'review/card.html' with data=review edit=False manage=True %}
        {% endfor %}
        <h2>Mes demandes de Critiques</h2>
        {% for ticket in tickets %}
        {% include 'ticket/card.html' with data=ticket edit=False manage=True %}
        {% endfor %}
    </div>
</div>
{% endblock %}