<div class="card--ticket card">
    <div class="card--head">
        <p>{{ data.user.username }} a demandé une critique</p>
        <p class="head--date">{{ data.time_created }}</p>
    </div>
    <div class="title">
        <p>{{ data.title }}</p>
    </div>
    <div class="description">
        <p>{{ data.description }}</p>
    </div>
    <div>
        <img src="{% url 'media' data.image %}" alt="Image du ticket {{ data.title }}"/>
    </div>
    {% if not data.has_review and not edit %}
    <div class="btn-ticket-container btns">
        <a href="{% url 'create_review' data.id %}" class="btn btn-link btn-primary btn-ticket">Créer une critique</a>
    </div>
    {% endif %}
</div>