{% extends 'core/base.html'%}

{% block content %}
<div class="single-form">
    <h1>Créer une review</h1>
    {% if ticket %}
        <h3>En réponse à :</h3>
        {% include 'ticket/card.html' with data=ticket edit=True %}
    {% endif %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if ticket_form %}
        <h3>Ma critique concerne :</h3>
        {{ ticket_form.as_p }}
        {% endif %}
        <h3>Critique</h3>
        {{ form.as_p }}
        <input class="btn-link btn-primary" type="submit" value="Envoyer">
    </form>
    {% if message %}
    <div class="error-form">
        <p>{{ message }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}