{% extends 'listings/base.html'%}

{% block content %}
<div id="annoncement">
    <h1>{{ annonce.title }}</h1>
    <div>
        <a href="{% url 'update-annoncement' annonce.id %}">Modifier</a>
        <a href="{% url 'delete-annoncement' annonce.id %}">Supprimer</a>
    </div>
    <table border>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Année</th>
            <th>Type</th>
            <th>Band</th>
        </tr>
        <tr>
            <td>{{ annonce.title }}</td>
            <td>{{ annonce.description }}</td>
            <td>{{ annonce.year }}</td>
            <td>{{ annonce.type }}</td>
            <td><a href="{% url 'unique-band' annonce.band.id %}">{{ annonce.band }}</a></td>
        </tr>
    </table>
    <a href="{% url 'annonces' %}">Retour à la liste</a>
</div>
{% endblock %}